<section class="player">
  <h2 class="player__title">
    {{title}}
  </h2>
  <ul class="player__song-list song-list">
    <li class="song-list__song"
        *ngFor="let song of list; let i = index"
        (click)="playTrack(i)"
        [class.active-song]="i === activeIndex">

      <span>{{i + 1}}. </span>
      <span>{{song.file.name}}</span>
    </li>
  </ul>
  <md-slider *ngIf="song" min="0" [max]="song.duration"
              step="1" [value]="curTime" 
              (change)="onTimeChange($event)"
              class="player__seek"
              color="primary"></md-slider>

  <div class="player__ctrl" *ngIf="song">
    <button  (click)="replay()" md-mini-fab><md-icon>replay</md-icon></button>
    <button (click)="playTrack(activeIndex - 1)" md-mini-fab><md-icon>skip_previous</md-icon></button>
    <button *ngIf="song.paused" (click)="start()" md-fab><md-icon>play_arrow</md-icon></button>
    <button *ngIf="!song.paused" (click)="pause()" md-fab><md-icon>pause</md-icon></button>
    <button (click)="playTrack(activeIndex + 1)" md-mini-fab><md-icon>skip_next</md-icon></button>
    <md-slider min="0" max="100" step="1" [value]="songVolume" (change)="onVolumeChange($event)" thumbLabel tickInterval="1"></md-slider>
    <div class="speed-ctrl">
      <span class="speed-ctrl__btn material-icons" (click)="setSpeed(true)">keyboard_arrow_up</span>
      <span class="speed-ctrl__value">{{speed | number : '1.1-2'}}</span>
      <span class="speed-ctrl__btn material-icons" (click)="setSpeed(false)">keyboard_arrow_down</span>
    </div>
  </div>
</section>
